<div id="disqus_thread"></div>
<script type="text/javascript">
    // Customize shortname with one of your own
var disqus_shortname = 'sbdchd';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    // Changed dsq.src = '//' to dsq.src = 'http://'. Not sure if correct thing to do
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
